<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuy.mapper.EletrictPastMapper">

    <resultMap id="eletrictPastResultMap" type="EletrictPast">
        <result property="dateTime" column="dateTime" />
        <result property="machinePast" column="machinePast"/>
        <result property="carPast" column="carPast"/>
        <result property="aviationPast" column="aviationPast"/>
    </resultMap>
    <select id="findEletrictPastList" resultType="com.fuy.pojo.EletrictPast" resultMap="eletrictPastResultMap">
        select * from eletrictpast
    </select>
</mapper>